version: '3'

services:
  chem-molecules:
    container_name: chem-molecules
    build: .
    env_file:
      - .env
    command: bash -c "
      uvicorn app.main:app
      --host 0.0.0.0 --port 8080
      --lifespan=on --use-colors --loop uvloop --http httptools
      --reload --log-level debug
      "
    volumes:
      - .:/source/
    ports:
      - 8080:8080
    depends_on:
      - redis-mols

  redis-chem:
    container_name: redis-chem
    image: redis:latest
    restart: always
    env_file:
      - .env
    command: redis-server --port "${REDIS_PORT}" --requirepass ${REDIS_PASSWORD} --appendonly yes
    ports:
      - 6379:6379

