[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
mypy = "*"
flake8 = "*"
black = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"
aioredis = "*"
fakeredis = "*"

[dev-packages]
icecream = "*"
ipython = "*"
isort = "*"
mypy = "*"
flake8 = "*"
black = "*"
bandit = "*"

[requires]
python_version = "3.8.6"

[pipenv]
allow_prereleases = true