[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icecream = "*"
ipython = "*"
isort = "*"
mypy = "*"
flake8 = "*"
flake8-fastapi = "*"
black = "*"
bandit = "*"
autoflake = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"
aioredis = "*"
rich = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true