[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
aioredis = "*"
fakeredis = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true